<h1>Words</h1>

<ul>
  <% @words.each() do |word| %>
  <li><a href="/words/<%= word.id() %>"><%= word.word_name() %></a></li>
  <% end %>
</ul>

<p><a href="/">Back</a></p>
<p><a href="/words/new">Add a new word to the dictionary</a></p>