<h1>Add a NEW WORD!</h1>

<p>Type word here:</p>
<form action="/definitions/new" method="post">

  <label for="callword">Word:</label>
  <input id="callword" name="callword" type="text">
  <button type="submit" action="/definitions/new">Add a Definition</button>

</form>

<p><a href="/">Cancel</a></p>